body {
    background-color: #433E3F;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    margin: 0;
}

.logo{
    height: 75px;
    width: 450px;
    background-color: #745944;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.cookie-small{
    width: 36px;
    height: auto;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    width: 1000px;
    background-color: #7A7265;
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-radius: 20px;
}

.row-inner{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.col-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px;
}

.bonus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*.bonus:nth-child(1){*/
/*    margin-bottom: 20px;*/
/*}*/

.bonus-name{
    color: #CBA37C;
    font-weight: bold;
}

.bonus-name-lighter{
    color: #C0B7B1;
    font-weight: bold;
}

.bonus-name-darker{
    color: #632F0E;
    font-weight: bold;
}

#cookie{
    width: 300px;
    height: auto;
    margin: 20px 0;
    border-radius: 150px;
    user-select: none;
    transition: transform 0.1s linear;
}

.cookie-clicked{
    transform: scale(0.9);
}

.cookie:hover{
    cursor: pointer;
}

.level-up-btn{
    width: 175px;
    height: 60px;
    background-color: #858585;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #525252;
    border: solid #525252;
}

.level-up-btn-available{
    background-color: #C69C72;
    border: solid #632F0E;
    color: #632F0E;
}

.footer{
    width: 450px;
    height: 100px;
    background-color: #745944;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p{
    margin: 0;
}

.footer p:nth-child(3){
    margin-top: 10px;
}

.footer a,
.footer a:visited{
    color: #CBA37C;
}

.footer a:hover{
    color: #632F0E;
}